body {
  background: linear-gradient(to bottom, #dddaed, #a6aad5);
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  min-height: 100vh;
}

.navbar {
  background-color: #1d5186;
}

.navbar_v {
  color: #f3f3f3;
}

.auth-card, .menu-card, .info-card {
  background: linear-gradient(to bottom, #dddaed, #a6aad5);
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


a {
  color: #1d5186;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* App.css */
.title {
  color: #1d5186; /* Main Menu yazısının rengi */
  font-weight: bold;
  text-align: center;
}

.button {
  background-color: #647daf; /* Buton arka plan rengi */
  border: none; /* Kenarlık olmaması */
  color: #f3f3f3; /* Buton yazı rengi */
}


.button:hover {
  background-color: #1d5186; /* Hover durumu için buton rengi */
}
